/* BODY */
html, body, h1 {
    margin: 0;
    padding: 0;
}
body {
    background: fixed no-repeat linear-gradient(to right bottom, rgb(129, 129, 129), 60%, rgb(197, 197, 197));
    color: rgb(211, 205, 205);
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 720px;
    background-color: rgb(56, 54, 51);
    border-radius: 5px;
    padding: 10px;
    margin: 110px auto 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color:  rgb(243, 243, 243);
}

a:hover {
    color:  rgb(153, 147, 147);
}

strong {
    color: #bada55;
    font-weight: 400;
}

/* HEADER */
header {
    margin-top: -110px;
    width: 100%;
}

.header-firstrow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    grid-template-rows: 1fr;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.headline, .workposition {
    text-align: left;
    align-self: center;
    justify-self: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #bada55;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 711px) and (min-width: 487px) {
    .workposition {
        align-self: start;
        height: 95px;
    }
    .headline {
        align-self: end;
    }
}

h1 {
    grid-row: span 2;
}

.pic-wrap, .profile-pic {
    width: 200px;
    height: 200px;
}

.pic-wrap, .profile-pic, .pic-wrap:hover, .profile-pic:hover {
    transition: 1s ease-in-out;
    border-radius: 50%;
}

.pic-wrap {
    border: 2px solid #bada55;
    margin: 0 auto;
}

.profile-pic {  
    filter: grayscale(1);
}
.pic-wrap:hover {
    transform: scale(1.05) rotate(10deg);
}
.profile-pic:hover {
    filter: grayscale(0);
}

.navigation {
    list-style: none;
    width: 80%;
    border-bottom: 1px solid #bada55;
    font-weight: 600;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.nav-item {
    padding: 5px;
}

/* CONTENT */
content {
    text-align: left;
}

article {
    margin-bottom: 30px;
}

h2, p {
    padding: 0 20px;
}

h2 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 2px;
}

h3 {
    padding: 0 30px;
    margin: 1rem 0 0 0;
}

p {
    margin: 0.3rem 0 0 0;
    text-indent: 20px;
    line-height: 1.3rem;
}

.znalosti-ico {
    font-size: 2rem;
    padding: 0;
    margin: 1rem auto 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #bada55;
}
.znalosti-ico > .fab {
    padding: 0 5px;
}


/* FOOTER */
footer {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a > .fab {
    font-size: 3rem;
    padding: 0 10px;
    color: #bada55;
}
a > .fab:hover {
    color: rgb(153, 147, 147);
}